.advantages {
  padding-bottom: 50px;
}

.advantages__item {
  position: relative;
  padding-left: 80px;
  margin-bottom: 20px;
  min-height: 60px;
}

.advantages__item::before {
  background-color: #68b738;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  content: "";
}

.advantages__list {
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.advantages__item--healthy::before {
  background-image: url("../img/healthy.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__item--powder::before {
  background-image: url("../img/powder.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__item--appliance::before {
  background-image: url("../img/appliance.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__item--scales::before {
  background-image: url("../img/scales.svg");
  background-repeat: no-repeat;
  background-position: center;
}
