.comment {
  margin-bottom: 37px;
}

.comment textarea {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  width: 100%;
  border: 1px solid #e7e7e7;
  padding: 9px 12px 125px 15px;
}

.comment__title {
  margin-bottom: 37px;
}
