.footer-container {
  background-color: #f2f2f2;
  padding: 60px 30px;
}

.footer-container__logo {
  padding-bottom: 30px;
  border-bottom: 1px solid #d9d9d9;
}

.footer-social {
  padding-bottom: 15px;
  border-bottom: 1px solid #d9d9d9;
}
