.contacts__position {
  padding-bottom: 50px;
}
.footer__container {
  background-color: #F2F2F2;
  padding: 60px 30px;
}
.contacts__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
}
.footer__location iframe {
  width: 100%;
}
