.footer__container {
  background-color: #f2f2f2;
  padding: 60px 30px;
}

.footer__logo-container {
  padding-bottom: 30px;
  border-bottom: 1px solid #d9d9d9;
}

.footer__location iframe {
  width: 100%;
}

.footer__social {
  padding-bottom: 15px;
  border-bottom: 1px solid #d9d9d9;
}
