.main-nav__list {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  list-style-type: none;
}

.main-nav__item a {
  text-decoration: none;
  color: #000000;
}
