.order-all {
  background-image: url("../img/catalog/rectangle-catalog.svg"), url("../img/catalog/case.jpg");
  background-repeat: no-repeat;
  width: 280px;
  height: 290px;
}

.order-all__text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  padding: 185px 61px 43px 58px;
}
