.order-all {
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/catalog/case.jpg");
  background-repeat: no-repeat;
  padding: 153px 61px 43px 58px;
  background-size: contain;
}

.order-all__text {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}
