.promo {
  position: relative;
  padding-bottom: 150px;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 720px 720px;
  }
}

.promo__wrapper {
  padding: 27px 20px 135px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/cat-header.jpg");
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: $tablet-width) {
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2;
    padding: 27px 20px 135px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/cat-header.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding-top: 25px;

  @media (min-width: $tablet-width) {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    padding-left: 117px;
    padding-right: 237px;
    text-align: start;
  }
}

.promo__text {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;

  @media (min-width: $tablet-width) {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    padding-left: 117px;
    padding-right: 237px;
    text-align: start;
  }
}

.promo__button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 55px;
  z-index: 1;

  @media (min-width: $tablet-width){
    bottom: 225px;
    left: 140px;
  }
}

.promo__image {
  position: absolute;
  top: 160px;
  left: 30px;

  @media (min-width: $tablet-width) {
    top: 230px;
    left: 250px;
  }
}
