.selection {
  padding-bottom: 60px;
}

.selection__info {
  font-size: 14px;
  margin: 0;
  margin-bottom: 39px;
}

.selection__button-send {
  border: none;
  cursor: pointer;
}

.selection__small-block p {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
  color: #000000;
}
